# SPDX-License-Identifier: MPL-2.0
# Code Owners for hyperpolymath/proven-tests-and-benches
#
# Was `* @metadatastician`, which owns no part of this repository — every SPDX
# header, MAINTAINERS.adoc and the remote all name @hyperpolymath. Corrected
# 2026-08-03.

* @hyperpolymath
